html,
body,
input,
button,
select,
textarea {
  font: 16px/1.2 "Source Sans Pro", "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

body, html {
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-weight: 300;
  line-height: 1.5;
}

a {
  color: #3c80c3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active,
a:focus {
  color: #1e4062;
}

input[type=text],
input[type=email],
input[type=password] {
  border: 1px solid #efefef;
  padding: 10px 15px;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 300px;
  height: 45px;
}

.icon,
button,
.button,
input[type="submit"] {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  background-color: #fefefa;
  color: #444;
  border-radius: 2px;
  border: 1px solid #efefea;
  font-weight: 300;
  cursor: pointer;
  font-size: 15px;
  padding: 0px 10px;
  height: 35px;
  line-height: 33px;
  vertical-align: top;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.icon:hover,
button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #fafaf7;
  border: 1px solid #dededa;
  color: #000;
}

a.button {
  padding: 11px 10px 10px 10px;
}

a.button:hover {
  text-decoration: none;
}

pre,
code {
  font-family: Monaco, Menlo, monospace;
  padding: 5px 10px;
  background-color: #f8f8f8;
  border: 1px solid #e2e2e2;
  overflow: scroll;
}

hr {
  border-top: 1px solid #e2e2e2;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 10px 0 30px 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.center-text {
  text-align: center;
}

.site-header {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 25px;
}

.site-header img {
  width: 320px;
  height: auto;
}

h1 {

}

/* mobile size */
.container {
  width: 100%;
  padding: 0px 20px;
  margin: 0px auto;
}

/* tablet size */
@media only screen and (min-width: 500px) {
  .container {
    width: 400px;
  }
}


/* clearfix */
.container:after {
  content: " ";
  display: table;
  clear: both;
}

.container {
  *zoom: 1;
}
