<p>
  NodeSchool (<a href="https://nodeschool.io/">https://nodeschool.io/</a>) is an in-person, free hosted workshop. Experienced Node.js mentors help facilitate self-led learning, all in a welcoming, inclusive environment.
</p>

<p>What do I need to bring?</p>

<p>Bring a laptop, a desire to learn, and all your friendship!</p>

<p>What actually happens at a NodeSchool Seattle event?</p>

<p>
  NodeSchool Seattle events are an opportunity to hang out with other learners and mentors in a low stress, encouraging environment. Get set up to work on lessons with real industry tools on your own computer, at your own pace. A typical event follows this schedule:
</p>

<p>
  &bull; {{eventTimeStart}} - Doors open<br>
  &bull; {{eventTimeIntro}} - Introduction and opening announcements<br>
  &bull; {{eventTimeLearningStart}}-{{eventTimeLearningEnd}} - Learning/Mentoring<br>
  &bull; {{eventTimeFood}}ish - Food!<br>
  &bull; {{eventTimeEnd}} - Event ends<br>
</p>

<p>How much does it cost?</p>

<p>NodeSchool Seattle is free. And open source!</p>

<p>How do I become a mentor?</p>

<p>We're always looking for people to volunteer to be mentors! We ask that prospective mentors:</p>

<p>
  &bull; Have already completed the core NodeSchool workshoppers (<a href="http://nodeschool.io/#workshopper-list">http://nodeschool.io/#workshopper-list</a>) before the event.Having also completed some elective workshoppers is a great bonus.<br>

  &bull; Review the Mentor Best Practices (<a href="https://github.com/nodeschool/organizers/wiki/Event-Mentor-Best-Practices">https://github.com/nodeschool/organizers/wiki/Event-Mentor-Best-Practices</a>) wiki page.<br>

  &bull; Arrive 30 minutes early ({{mentorArriveTime}}) so we can set up and have our mentor meeting.<br>

  &bull; Sign up on the event's GitHub issue (<a href="{{githubIssueURL}}">{{mentorRegistrationUrl}}</a>)!<br>

</p>