Hello folks!

Groupon is hosting the next NodeSchool Seattle at **{{locationName}} on **{{date}}, from {{time}}** (you can sign up as a learner [here]({{meetupURL}})).

-----

We are looking for mentors. If you would like to join us and other passionate folks, you should:

- Have already completed the [core NodeSchool workshoppers](http://nodeschool.io/#workshopper-list) before the event.
  - Having also completed elective workshoppers is a great bonus.
- Review the [Mentor Best Practices wiki page](https://github.com/nodeschool/organizers/wiki/Event-Mentor-Best-Practices).
- Arrive 30 minutes early (12:30 PM) so we can set up and have our mentor meeting.


#### Confirmed mentors:

- [ ] @satanas

To sign up as a mentor just leave a comment!