/* Colors */

$color-buttons = #f8d540;
$color-seahawks-dark-blue = #03244d;
$color-seahawks-green = #4ea701;
$color-seahawks-light-green = #1DD83C;
$color-dark-sky-blue = #94BBD7;
$color-seahawks-light-blue = #36578c;
$color-off-white = rgb(247, 247, 247);
$color-lavender = #BE99DD;
$color-drop-shadow = rgba(0, 0, 0, 0.25);
